.header {
    padding: 2rem 0;
    background-color: rgb(94, 157, 240);
    h1{
        text-align: center;
        color: white;
        font-size: 2rem;
    }

    .input_search{
        display: flex;
        justify-content: center;
        margin: 1rem 0;
        // text-align: center

    }
     
}