.house_list {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
    margin: 2rem 0;
    li{
        background: rgb(94, 157, 240);
        padding: 1.5rem;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        p{
            margin: 1rem 0;
        }
        button{
            padding: 0.5rem 1.5rem;
            font-weight: bold;
        }
    }
}

.info{
    display: flex;
    align-items: center;
    img{
        border-radius: 50%;
    }
    h2{
        padding: 0 1rem;
        font-weight: bold;
        font-size: 1.25rem;
    }

}